[Desktop Entry]
Name=FluxDown
GenericName=Download Manager
Comment=Free IDM-alternative download manager
Exec=flux_down %U
Icon=com.fluxdown.app
Type=Application
Categories=Network;FileTransfer;
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Keywords=download;manager;idm;torrent;magnet;
StartupWMClass=flux_down
StartupNotify=true
